[bot]
adapters = ["alicebot.adapter.mirai", "alicebot.adapter.apscheduler"]

[adapter.mirai]
adapter_type = "ws"
verify_key = "YOUR_KEY"
qq = YOUR_QQ

[adapter.apscheduler]
scheduler_config = { "apscheduler.timezone" = "Asia/Shanghai" }